{% extends 'base.html.twig' %}

{% block title %}New Ubicacion{% endblock %}

{% block body %}
    <h1>Create new Ubicacion</h1>

    {{ include('ubicacion/_form.html.twig') }}

    <a href="{{ path('app_objetos_new') }}">Crear Objeto</a>
{% endblock %}
