{% extends 'base.html.twig' %}

{% block title %}Edit Salidas{% endblock %}

{% block body %}
    <h1>Edit Salidas</h1>

    {{ include('salidas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_salidas_index') }}">back to list</a>

    {{ include('salidas/_delete_form.html.twig') }}
{% endblock %}
